@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Roboto+Mono:wght@100&display=swap');
nav {
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    background-color:#7D8587 ;
    z-index: 3;
}

.list {
    list-style-type: none;
    background-color:#7D8587 ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items {
    margin-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
font-family: 'Sintony', sans-serif;
}
.items a{
    color:#000;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
    width: 50px;
}
.items div {
    background-color: orange;
    overflow: hidden;
    border-radius: 5px;
}
.img-menu { 
    margin-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
font-family: 'Sintony', sans-serif;
}
.booking-text { 
    margin-right: 20px;
    font-size: 14px;

    color: #f1f1f1;
    cursor: pointer;
font-family: 'Sintony', sans-serif;

}
.booking-text div {
    background-color: orange;
    overflow: hidden;
    border-radius: 5px;
    
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(255, 221, 157);
    transition: 0.5s;
}
.items:hover{
    color: orange;
    transition: 0.5s;
}
@media screen and (max-width: 1050px){
    .list {
        flex-direction: column;
        height: auto;
    }
    .items a{
        color:#000;
        text-align: center;
        justify-content: center;
        margin-right: 0px;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .img-menu{
        display: none;

    }

    .btn {
        display: block;
    }
}