/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.napis1 {
  color: #fea100;
  font-size: 25px;
}

.napis2 {
  color: white;
  font-size: 20px;
  text-align: center;
}

header {
  display: flex;
  background-color: #7d8587;
}

.flex-container {
  display: flex;
  gap: 50px;
  align-items: center;
  min-height: 10vh;
  margin-left: 250px;
  margin-right: 250px;
  padding: 0px;
  width: 100%;
}

.Nav-menu-list {
  display: flex;
  justify-content: space-around;
  width: 70%;
  text-decoration: none;
}
.Nav-menu-list li a {
  color: white;
  font-family: Sintony-Bold;
}
.offer {
  width: 70%;

  overflow: hidden;
  float: left;
}
.prices {
  float: right;
  width: 20%;
  margin-left: 30px;
}
.foodmenu {
  float: left;
  width: 30%;

  overflow: hidden;
}
.foodmenu a {
  margin-bottom: 5px;
}

.ramka1 {
  width: 250px;
  border: 1px solid;
  padding: 0px;
  margin: 1px orange;
  background-color: orange;
  display: flex;
  gap: 10px;
}

.napisz {
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-top: 12px;
  text-align: center;
}

.jamv2 {
  padding-bottom: 20px;
}

.btn {
  background-color: #fea100;
}

.img-text {
  position: absolute;
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  color: white;
  width: 100%;
}

.img-text-middle {
  position: absolute;
  text-align: center;
  margin-top: 200px;
  width: 100%;
}
.img-text-middle a {
  color: white;
  font-size: 45px;
}

.phone {
  position: absolute;
  margin-top: 370px;
  margin-left: 930px;
  justify-content: center;
}

.img-text-bottom {
  text-align: center;
  bottom: 0px;
  width: 100%;
  position: absolute;
}
.img-text-bottom a {
  font-size: 20px;
  color: #fea100;
  text-decoration: none;
}
.img-text-bottom h2 {
  color: white;
  font-size: 30px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 45px;
  position: absolute;
}

.prawa {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 1530px;
  margin-top: 200px;
  cursor: pointer;
}

.lewa {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 200px;
  margin-left: 270px;
  cursor: pointer;
}

.tytul {
  font-size: 30px;
  padding-bottom: 30px;
}

.second-section-container {
  width: 1169px;

  margin: 0 auto;
  z-index: 2;
  height: 100%;
  overflow: hidden;
}

.explore-menu a {
  margin: 20px 20px;

  background-color: #fea100;
  border-radius: 5px;
}

.Today-Special {
  position: relative;
  float: right;
  width: 49%;

  overflow: hidden;
  height: 410px;
}

.special-offer-content {
  position: absolute;
  /* Reposition logo from the natural layout */
  left: 20px;
  top: 50px;
  width: 320px;
  height: 335px;
  z-index: 2;
}

.special-offer-content2 {
  position: absolute;
  right: 20px;
  top: 70px;
  width: 320px;
  height: 295px;
  z-index: 1;
}

.image-special {
  background-color: #7d8587;
  top: 0px;

  width: 320px;
  height: 210px;
  z-index: 2;
}

.image-special2 {
  background-color: #1dbfe7;

  width: 320px;
  height: 172px;
  z-index: 1;
}

.image-special-price {
  background-color: #bebebe;
  width: 100%;
  bottom: 0px;
  position: absolute;
  height: 125px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-special-price a {
  margin-left: 5px;
  justify-content: center;
}

.offer-special {
  width: 50%;
}

.best {
  margin-left: 300px;
}

.happy {
  display: flex;
  margin-left: 400px;
  margin-right: 300px;
  margin-top: 50px;
  gap: 20px;
  font-family: Sinton;
}

.happy-text {
  margin-top: 20px;
}

.header-happy {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.reserve input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
.reserve {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #565f61;
  margin-top: 40px;
}
.reserve p {
  padding-top: 20px;
  color: white;
  font-size: 20px;
}
.reserve h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}
.reserve button {
  background-color: #fea100;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 5px;
}
.zdj1 {
  transform: translateY(-100px);
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
.zdj2 {
  transform: translateY(150px);
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}
.np {
  text-align: justify;
}
.wrapper2 {
  display: flex;
  align-self: center;
  text-align: center;
  padding-top: 20px;
}

.napisr a {
  color: white;
}
.napisr2 {
  color: #fe4c8d;
}
.split2 {
  display: flex;
  flex-direction: column;
}
.napis1 a {
  color: #fea100;
  font-size: 30px;
}
.napis2 {
  color: white;
  font-size: 18px;
}
.container2 {
  width: 1169px;
  text-align: center;
  margin: 0 auto;
  z-index: 2;

  height: 500px;
  overflow: hidden;
}
.gallery-img {
  width: 100%;
  height: 540px;
}
.gallery-img-text {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 510px;
  background-color: #565f61;
  font-size: 30px;
  margin-top: 20px;
}
@media (min-width: 40em) {
  .split2 {
    flex-direction: row;
  }
  .split2 > * {
    flex-basis: 100%;
  }
  .split2 > * + * {
    margin-left: 2em;
  }
}

footer {
  background-color: #373844;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 250px;
  margin-top: 40px;
}
footer h1 {
  color: white;
  font-size: 20px;
  padding-bottom: 30px;
}
footer li {
  padding-bottom: 7px;
  color: #adb2b7;
}
.sub {
  background-color: #fea100;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
footer a {
  color: #adb2b7;
}
footer input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #373844;
}
.right img {
  vertical-align: middle;
  margin-right: 5px;
  float: left;
  margin-left: 10px;
}
.get {
  background-color: #52535e;
  border: none;
  border-radius: 3px;
  color: white;
  height: 70px;
  width: 60%;
  font-size: 10px;
}
.copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
  color: #adb2b7;
}
.get span {
  font-size: 14px;
}

.b1 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #3b5998;
  margin-right: 5px;
}
.b2 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #55acee;
  margin-right: 5px;
}
.b3 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  background-color: #dd4b39;
}

.fcolumn {
  float: left;
}
.left,
.right {
  width: 25%;
}
.middle {
  width: 50%;
}

.dol {
  background-color: #373844;
  padding-bottom: 50px;
}

.first-section {
  width: 100%;
}

.header a {
  font-size: 24px;
}

.container {
  width: 1169px;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.slider {
  position: absolute;
}

#imga {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 750px;
  background: #7d8587;
  opacity: 1;
  z-index: 1;
  margin: 0 auto;
}

.header {
  top: 22px;
  left: 400px;
  width: 100%;
  opacity: 1;
}

.container a {
  font-family: "Sintony Bold", arial;

  font-size: 18px;
  color: white;
  padding-right: 10px;
}

.cart {
  /* Layout Properties */
  top: 37px;
  left: 1297px;
  width: 21px;
  height: 17px;
  /* UI Properties */

  opacity: 1;
  left: 20px;
  margin-right: 20px;
  padding-left: 20px;
}

.booking {
  font-family: "Sintony Bold", arial;
  top: 22px;
  left: 1370px;
  width: 199px;
  height: 47px;
  background: #fea100 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  padding: 5px;
}

.logo {
  font-family: "Sintony Bold", arial;
  text-overflow: clip;
}

.slider {
  height: 500px;
  width: 350px;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 0px;
}

.slider-text {
  position: absolute;

  top: 70%;
  height: 292px;
  transform: translate(-50%, -50%);

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sintony Bold", arial;
}

.logo-text {
  bottom: 0px;
  position: absolute;

  text-align: center;
}

.phone-icon {
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 75%;
}

.logo-text a {
  bottom: 0px;

  font-size: 14px;
}

#phone-number {
  font-size: 36px;
}
.background-slider {
  position: relative;
  z-index: 1;
}
.gallery-background-img-text {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 510px;
  background-color: #565f61;
  font-size: 30px;
}

@media screen and (max-width: 1400px) {
  .second-section-container {
    display: grid;
    width: 100%;
  }
  @media screen and (max-width:900px){
    .Today-Special { 
      width: 100%;
    }
    
    .container2 { 
      width: auto;
    }
   
    .container { 
      width: auto;
    }
    .happy{
      margin-left: 0px;
      display: grid;
    }
    .slider { 
      width: 170px;
    }
  }
  .container { 
    width: auto;
  }
  .zdj1 { display: none;}
  .zdj2  {display: none;}
  .foodmenu {
    width: 80%;
   }
}
